/*////////////// Fonts //////////////*/
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;

}



p {
  color:#555;
  margin:0 0 20px 0;
}

#featured img{
  border:5px rgb(152,173,166) solid;
}

#press img:hover{
  border:5px rgb(111,127,122) solid;
}

#press img {
  border:5px #ccc solid;
  padding:1px;
}
